@model Scanner.Models.CoilIDModel
@{

    ViewBag.Title = "Scanner Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }

    @using (Ajax.BeginForm("Index", "Scanner",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
    {
        <fieldset>
            <div id="divInterestDeatils"></div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID)
            </div>
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>
        <li>@ViewBag.Error</li>
        <li>CoilID: @ViewBag.CoilID </li>
        <li>Type: @ViewBag.Type </li>
        <li>Color: @ViewBag.Color </li>
        <li>Weight: @ViewBag.Weight </li>
        <li>Gauge: @ViewBag.Gauge </li>
        <li>Width: @ViewBag.Width </li>
        <li>Order: @ViewBag.Order </li>
        <li>P_order: @ViewBag.P_order </li>
        <li>Month_recd: @ViewBag.Month_recd </li>
        <li>Date_inwh: @ViewBag.Date_inwh </li>
        <li>Date_transfer: @ViewBag.Date_transfer </li>
        <li>Last_stocktake_date: @ViewBag.Last_stocktake_date </li>
        <li>Status: @ViewBag.Status </li>
        <li>Clength: @ViewBag.Clength </li>
    }


</body>
</html>
